@import '../../../styles/varsandmixins';

#loader {
  width: 32px; // 2rem;
  height: 32px; // 2rem;
  fill: currentColor;
}

#ej12rbhddq82_to {
  animation: ej12rbhddq82_to__to 1200ms linear infinite normal forwards;
}

@keyframes ej12rbhddq82_to__to {
  0% {
    transform: translate(136px, 154.181px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  33.333333% {
    transform: translate(154.181px, 136px);
  }
  100% {
    transform: translate(154.181px, 136px);
  }
}

#ej12rbhddq82_tr {
  animation: ej12rbhddq82_tr__tr 1200ms linear infinite normal forwards;
}

@keyframes ej12rbhddq82_tr__tr {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  33.333333% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

#ej12rbhddq83_to {
  animation: ej12rbhddq83_to__to 1200ms linear infinite normal forwards;
}

@keyframes ej12rbhddq83_to__to {
  0% {
    transform: translate(36px, 36.362px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  33.333333% {
    transform: translate(77.090775px, 77.090275px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  48.333333% {
    transform: translate(77.090775px, 77.090275px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  83.333333% {
    transform: translate(-0.636px, 36.362px);
  }
  100% {
    transform: translate(-0.636px, 36.362px);
  }
}

#ej12rbhddq83_ts {
  animation: ej12rbhddq83_ts__ts 1200ms linear infinite normal forwards;
}

@keyframes ej12rbhddq83_ts__ts {
  0% {
    transform: scale(1, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  33.333333% {
    transform: scale(0.5, 0.5);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  48.333333% {
    transform: scale(0.5, 0.5);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  81.666667% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

#ej12rbhddq84 {
  animation: ej12rbhddq84_c_o 1200ms linear infinite normal forwards;
}

@keyframes ej12rbhddq84_c_o {
  0% {
    opacity: 1;
  }
  33.333333% {
    opacity: 0.2;
  }
  48.333333% {
    opacity: 0.2;
  }
  81.666667% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#ej12rbhddq87_to {
  animation: ej12rbhddq87_to__to 1200ms linear infinite normal forwards;
}

@keyframes ej12rbhddq87_to__to {
  0% {
    transform: translate(36px, 36.362px);
  }
  50% {
    transform: translate(36px, 36.362px);
  }
  83.333333% {
    transform: translate(-0px, 36.362px);
  }
  100% {
    transform: translate(-0px, 36.362px);
  }
}

#ej12rbhddq88_to {
  animation: ej12rbhddq88_to__to 1200ms linear infinite normal forwards;
}

@keyframes ej12rbhddq88_to__to {
  0% {
    transform: translate(36px, 36.362px);
  }
  33.333333% {
    transform: translate(36px, 1.087px);
  }
  100% {
    transform: translate(36px, 1.087px);
  }
}
