// Variables

// Default Theme
$theme-1: #5b3df2;
$theme-1-bg: #202840;
$theme-1-light: #6854ff;
$theme-1-light-bg: #ecf0f3;

// Theme 2: Funky
$theme-2: #f24981;
$theme-2-bg: #132b4c;
$theme-2-light: #f22469;
$theme-2-light-bg: #e0ecff;

// Theme 3: Techie
$theme-3: #12b28a;
$theme-3-bg: #272e34;
$theme-3-light: #4cd8b5;
$theme-3-light-bg: #e1eaf2;

// Theme 4: Soft
$theme-4: #ffbfe4;
$theme-4-bg: #2d3459;
$theme-4-light: #ffa6da;
$theme-4-light-bg: #edf0ff;

// Theme 5: Elegant
$theme-5: #f28179;
$theme-5-bg: #262d4d;
$theme-5-light: #f26b61;
$theme-5-light-bg: #f2f4ff;

// Apply theme colours
$theme: $theme-1;
$theme-bg: $theme-1-bg;
$theme-light: $theme-1-light;
$theme-light-bg: $theme-1-light-bg;

$white: #fff;
$greylighter: #ecf0f3;
$greylight: #d1d9e6;
$grey: #4d5a80;
$white-soft: rgba(#fff, 0.8);
$black: #000;

// User Theme 2 red for errors
$error: $theme-2;

// Mixins
@mixin bigPhoneAndUp() {
  @media screen and (min-width: 30em) {
    @content;
  }
}
@mixin tabletAndUp {
  @media screen and (min-width: 48em) {
    @content;
  }
}
@mixin wideDesktopAndUp() {
  @media screen and (min-width: 70em) {
    @content;
  }
}
@mixin monitorAndUp() {
  @media screen and (min-width: 95rem) {
    @content;
  }
}
@mixin tabletAndDown {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin insetSmall {
  box-shadow: 1px 1px 0.25rem $white,
    -1px -1px 0.25rem rgba(var(--dark-color-saturated-rgb), 0.1),
    inset -0.25rem -0.25rem 0.5rem $white,
    inset 0.25rem 0.25rem 0.5rem rgba(var(--dark-color-saturated-rgb), 0.1);

  @include darkMode {
    box-shadow: 1px 1px 0.25rem rgba(var(--bg-color-lightest-rgb), 0.3),
      -1px -1px 0.25rem rgba($black, 0.3),
      inset -0.25rem -0.25rem 0.5rem rgba(var(--bg-color-lightest-rgb), 0.3),
      inset 0.25rem 0.25rem 0.5rem rgba($black, 0.3);
  }
}
@mixin shadowSmall {
  box-shadow: -0.25rem -0.25rem 1rem $white,
    0.25rem 0.25rem 1rem rgba(var(--dark-color-saturated-rgb), 0.1);

  @include darkMode {
    box-shadow: -0.25rem -0.25rem 1rem rgba(var(--bg-color-lightest-rgb), 0.3),
      0.25rem 0.25rem 1rem rgba($black, 0.3);
  }
}
@mixin shadow {
  box-shadow: -0.5rem -0.5rem 1rem $white,
    0.5rem 0.5rem 1rem rgba(var(--dark-color-saturated-rgb), 0.1);

  @include darkMode {
    box-shadow: -0.5rem -0.5rem 1rem rgba(var(--bg-color-lightest-rgb), 0.3),
      0.5rem 0.5rem 1rem rgba($black, 0.3);
  }
}
@mixin shadowTiny {
  box-shadow: -0.125rem -0.125rem 0.5rem $white,
    0.125rem 0.125rem 0.5rem rgba(var(--dark-color-saturated-rgb), 0.1);

  @include darkMode {
    box-shadow: -0.125rem -0.125rem 0.5rem rgba(var(--bg-color-lightest-rgb), 0.3),
      0.125rem 0.125rem 0.5rem rgba($black, 0.3);
  }
}

// Dark mode query mixin
@mixin darkMode {
  @media (prefers-color-scheme: dark) {
    @content;

    html.prefersDarkMode:not(.prefersLightMode) & {
      @content;
    }
  }
  html.prefersDarkMode & {
    @content;
  }
}

// Separator
@mixin separator {
  border-top: 1px solid rgba(var(--bg-color-lightest-rgb), 0.5);
  box-shadow: 0 -1px 0 rgba(var(--bg-color-darkest-rgb), 0.5);
}

// rgbify colour
@function rgbify($hex) {
  @return #{red($hex) + ',' + green($hex) + ',' + blue($hex)};
}
