@import '../../../../styles/varsandmixins';

// custom
.input-search {
  position: relative;
  flex: 1;

  &-bar {
    position: relative;
    z-index: 3;
    display: flex;
  }

  // Search result
  &-result {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    z-index: 2;
    width: calc(100% + 1rem);
    height: auto;
    max-height: calc(100% + 1rem);
    padding: 3.5rem 0.5rem 0.5rem;
    background: var(--bg-color-dark);
    box-shadow: 1rem 1rem 1.5rem rgba(var(--text-color-rgb), 0.1);
    border-radius: 1.5rem;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, max-height 1s ease-in-out;

    @include darkMode {
      box-shadow: 1rem 1rem 1.5rem rgba($black, 0.25);
    }

    .input-search.is-open & {
      max-height: calc(100vh - 2rem);
      opacity: 1;
      pointer-events: all;
    }

    &.has-results {
      padding-top: 4rem;
    }

    .loading-message {
      font-size: 0.875rem;
      padding: 0.5rem 0.5rem 0.5rem 4rem;
      opacity: 0.3;
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-height: 2.5rem;
      padding: 0.5rem 0.75rem;
      border-radius: 1rem;
      overflow: hidden;

      &:hover {
        background-color: rgba(var(--bg-color-darker-rgb), 0.75);
        color: var(--text-color);
        cursor: pointer;

        @include darkMode {
          color: $white;
        }
      }

      &.is-hidden {
        max-height: 0;
        padding: 0;
        opacity: 0;
      }

      .at {
        opacity: 0.3;
      }
      .title {
        margin-right: auto;
        margin-left: 1.5rem;
        font-size: 1rem;
      }
      .descr {
        margin-right: 1rem;
        font-size: 0.75rem;
        opacity: 0.3;
      }
    }
  }
}
